<p id="notice"><%= notice %></p>

<div id="problem_container">
  <p id="title">
    <%= @problem.title %>
  </p>
  <hr/>
  <div id="problem_info"
  <p>
    <b>Description:</b>
    <%= @problem.description %>
  </p>
  </div>
  <div id="problem_attempt"
  <p>
  <b>Attempt:</b>
  <%= render "attempts/form" %>
  </p>
  </div>
</div>
