<h1>Listing admin_problems</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_problems.each do |admin_problem| %>
  <tr>
    <td><%= link_to 'Show', [:admin, admin_problem] %></td>
    <td><%= link_to 'Edit', edit_admin_problem_path(admin_problem) %></td>
    <td><%= link_to 'Destroy', [:admin, admin_problem], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_admin_problem_path %>
