<h1>Listing Topics</h1>
<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Edit', edit_admin_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', [:admin, topic], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New Topic', new_admin_topic_path, class:"button success" %>
