<div class="row">
  <div class="twelve columns">
    <h3>Comparison results</h3>
    <div class="row" id="varch-spinner">
      <div class="one columns centered end">
        <i class="icon-spinner icon-spin icon-3x"></i>
      </div>
    </div>
    <div class="panel" id="error-panel" style="display:none">
    </div>
    <ul class="accordion" id="varch-results" style="display:none">
    </ul>
  </div>
</div>
<script>
  Danthes.debug = true;
</script>
<%= subscribe_to "/varch/#{@group.id}/#{@assignment.id}" %>
<script>
  Danthes.subscribe("/varch/<%=@group.id%>/<%=@assignment.id%>", function(data, channel) {
    $('#varch-spinner').hide();
    if(data.message){
      error = $('#error-panel');
      error.show();
      error.html("Error - "+data.message);
    }else {
      results = $('#varch-results');
      results.show();
      for(var comp in data.result){
        obj = data.result[comp];
        var li = $(document.createElement('li'));
        var title = $(document.createElement('div'));
        var content = $(document.createElement('div'));
        title.addClass("title");
        content.addClass("content");
        var row = $(document.createElement('div'));
        row.addClass("row");
        try {
          title.html("<h5>"+obj.user.num+"</h5>");
        } catch(err) {
          title.html("<h5>"+obj.user+"</h5>");
        }
        for(var sim in obj.similarities){
          simobj = obj.similarities[sim];
          var subcontent = $(document.createElement('div'));
          subcontent.addClass("four columns");
          try {
           subcontent.html("<div class=\"panel\"><strong>" + simobj.user.num +":</strong>" + "<br /\>Algorithm 1: " + simobj.similarity["1"] + "% <br /\>Algorithm 2: " + simobj.similarity["2"] + "%</div>");
          } catch(err) {
            subcontent.html("<div class=\"panel\"><strong>" + simobj.user +":</strong>" + "<br /\>Algorithm 1: " + simobj.similarity["1"] + "% <br /\>Algorithm 2: " + simobj.similarity["2"] + "%</div>");
          }
          row.append(subcontent);
        }
        content.append(row);
        li.append(title);
        li.append(content);
        results.append(li);
      }
    }
  });
</script>
