<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th> Num </th>
        <th> Number of Attempts </th>
        <th> Status </th>
        <th> Date of Last Attempt </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>