// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
div#header{
	background:#003275;
}

div#title_bar{
	background:#bccbcf;
}

.panel h3{
	background:#003275;
	color:#fffff9;
	text-shadow: none !important;
}

table.index_table th, table.index_table th a{
	background:#003275 !important;
	color:#fffff9 !important;
	text-shadow: none !important;
}

span.breadcrumb a{
	color:#ffffff !important;
}

#title_bar h2{
	color:#E0E0E0;
}
