// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

// Table for showing output/feedback
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #FFFFFF;
}

div#header{
	background:#003275;
	color:#fffff9;
}

div#header a{
	background:#003275;
	font-size: 16px;
	color:#fffff9;
}

#header ul#tabs > li.current > a{
	background:#001053;
}

#header ul#tabs > li:hover > a {
	background:#005497;
}

div#title_bar{
	background:#bccbcf;
}

.panel h3{
	background:#003275;
	color:#fffff9;
	text-shadow: none !important;
}

table.index_table th, table.index_table th a{
	background:#003275 !important;
	color:#fffff9 !important;
	text-shadow: none !important;
}

span.breadcrumb a{
	color:#ffffff !important;
}

#title_bar h2{
	color:#303030;
}

body{
	font-family:'helvetica';
 	background-image:url('bg_pattern.png');
	font-size: 15px;
}

div#title_bar{
	background-color:transparent;
	position:absolute;
	top:-3000px;
}

span.action_item{
	position:relative;
	top: 3030px;
	right: 300px;
}

.blank_slate_container .blank_slate small {
	color:#000000;
}

.blank_slate_container .blank_slate{
	color:#000000;
}

tr:nth-child(odd) {
	background: #ffffff;
}

div.index_content{
	position:relative;
	top: 5px;
}

.sidebar_section{
	position:relative;
	top: 35px;
}

div#index_footer{
	position:relative;
	top: 30px;
}

#active_admin_content #main_content_wrapper {
	position:relative;
	top:30px;
}

body.logged_in .flash.flash_notice{
	position:relative;
	top:0px;
	height:23px;
}

div.pagination_information{
	color:#000000;
}

// AUTOCOMPLETE
/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    cursor: text;
    font-size: 14px;
    font-family: Verdana;
    list-style-type: none;
    background-color: white;
    margin:0px 25px 0px 0px;
    border-radius:3px;
    padding:5px;
    border: 1px solid #C9D0D6 !important;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}
