// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
div#header{
	background:#003275;
	color:#fffff9;
}

div#header a{
	background:#003275;
	font-size: 16px;
	color:#fffff9;
}

#header ul#tabs > li.current > a{
	background:#001053;
}

#header ul#tabs > li:hover > a {
	background:#005497;
}

div#title_bar{
	background:#bccbcf;
}

.panel h3{
	background:#003275;
	color:#fffff9;
	text-shadow: none !important;
}

table.index_table th, table.index_table th a{
	background:#003275 !important;
	color:#fffff9 !important;
	text-shadow: none !important;
}

span.breadcrumb a{
	color:#ffffff !important;
}

#title_bar h2{
	color:#303030;
}

body{
	font-family:'helvetica';
 	background-image:url('bg_pattern.png');
	font-size: 15px;
}

div#title_bar{
	background-color:transparent;
	position:fixed;
	top:-3000px;
}

span.action_item{
	position:relative;
	top: 3030px;
	right: 300px;
}

.blank_slate_container .blank_slate small {
	color:#000000;
}

.blank_slate_container .blank_slate{
	color:#000000;
}

tr:nth-child(odd) {
	background: #ffffff;
}

div.index_content{
	position:relative;
	top: 30px;
}

