/*
 *= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import "problem.css.scss";
@import "jquery-ui.css";
@import "dataTables.css";

div#table_container{
  margin:0px auto;
  width:90%;
  text-align: center;
}

body{
	font-family:'helvetica';
	background-image:url('bg_pattern.png');
	margin:0px;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	height: 500px;
}

hr{
	border: 0;
	color: #9E9E9E;
	background-color: #9E9E9E;
	height: 1px;
	width: 100%;
	text-align: left;
	margin:10px 0px;
}

div#hmenu{
	background:#003275;
	color: #FFFFF9;
 	border-bottom: 1px solid #44484B;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	text-shadow: black 0 1px 0;
	height: 20px;
	overflow: visible;
	position: relative;
	padding: 9px 30px;
	position: relative;
	z-index: 900;
	margin: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

div#hmenu ul li{
	display: inline;
	position:relative;
	top:-15px;
}

div#hmenu ul {
	list-style: none;
	padding: 0px 0px 0px 20px;
}

div#hmenu li{
	padding:0px 18px 0px 0px;
}

div#hmenu a, div#hmenu{
	color: #fff;
	font-size:17px;
	font-family:Helvetica, Arial, sans-serif;;
	text-decoration:none;
}

div.right {
	float:right;
}

#wrapper2 {
	/* Center wrapper perfectly */
	/*width: 300px;*/
	height: 400px;
	margin: 70px auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*******************
LOGIN FORM
*******************/

.new_user {
	width: 600px;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.new_user .upper {
	padding: 10px 30px 110px 30px;
}

.new_user .upper h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin: 45px 0px 25px 0px;
	float: left;
}

.new_user .upper .logo_tec{
	float:right;
}

/*******************
CONTENT
*******************/
.new_user .content span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	float: left;
}

.new_user .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.new_user .content .input {
	width: 288px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.new_user .content .password, .new_user .content .pass-icon {
	margin-top: 25px;
}

.new_user .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.new_user .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:142px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:193px;
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/pass-icon.png) no-repeat center;
}

.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.new_user .footer {
	padding: 25px 30px 20px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.new_user .footer .button {
	float:right;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.new_user .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.new_user .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.new_user .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 60px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.new_user .footer .register:hover {
	color: #3f9db8;
}

.new_user .footer .register:focus {
	position: relative;
	bottom: -1px;
}
