/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/

.locales {
  padding-top: 5px !important;
  height: 45px !important;
}

.locales a.locale_setter {
  display: inline !important;
  padding: 0 !important;
}

.locales a.locale_setter:first-child {
  padding-left: 15px !important;
}

.locales a.locale_setter:last-child {
  padding-right: 15px !important;
}

.centered-top-bar {
  width: 1000px;
  max-width: 100%;
  z-index: 0 !important;
  margin: 0 auto;
}

.centered-top-bar > ul .name h1 {
  line-height: 45px;
  margin: 0;
  font-size: 17px !important;
}

