@import 'compass/css3';

#devise-form {
  margin-top: 80px;
  .upper {
    text-align: center;
    .logo_tec {
      margin: 0 0 10px 0;
    }
  }
  .input {
    width: 250px;
  }
  .locale_container {
    padding: 10px 0;
    color: #2ba6cb;
  }
  .actions {
    margin: 10px 0 0 0;
    .register-link {
      margin: 0 0 10px 0;
    }
  }

  .back-link {
    margin: 10px 0 0 0;
  }

}
