h3#title{
  text-align:center;
  margin:0px 0px 5px 0px;
}

div#problem_container{
  width:1000px;
  background-color:#777;
  margin: 0px auto;
  padding: 15px;
  overflow:auto;
  border:solid;
  border-width:5px;
  border-color:#333;
}

#problem_info, #problem_attempt{
  height: 480px;
  font-size: 13px;
  width:482px;
  float:left;
}
#problem_info{margin:0px 10px 0px 0px;}
#problem_attempt{margin:0px 0px 0px 10px;}
#problem_info .ui-tabs-selected, #problem_attempt .ui-tabs-selected,{ margin-top: -5px !important; }
#problem_info a, #problem_attempt a{ font-size: 12px; }

.tabs-bottom { position: relative; }
.tabs-bottom .ui-tabs-panel { height: 400px; overflow: auto;}
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }
  .tabs-bottom .ui-tabs-nav li { margin-top: -4px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
