ul#list_cases {
  margin-top: 15px;
}

.description-container {
  min-height: 300px;
  background: #FFF;
  li {
    padding: 20px;
  }
}

.attempts-container {
  @extend .description-container;
  .show-code {
    margin-top: 50px;
  }
}

i {
  &.icono-rechazado {
    color: red;
  }
  &.icono-aceptado {
    color: green;
  }
  &.icono-error {
    color: #FFC200;
  }
}
