<h3>Listing attempted problems</h3>
<hr/>
<div id="table_container">
  <table class="data_table">
      <thead>
      <tr>
        <th>Problem</th>
        <th>Number of attempts</th>
        <th>Outcome</th>
      </tr>
      </thead>
      <tbody>
    <% @attempts.each do |attempt| %>
      <tr onclick="location.href='<%= problem_path(attempt['problem_id']) %>'" style='cursor:pointer'>
        <td><%= attempt["title"] %></td>
        <td><%= attempt["times_attempted"] %></td>
        <td><%= attempt["outcome"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
